<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
  <div
    class="alert alert-danger border-0 rounded-4 shadow p-4 text-center"
    style="
      backdrop-filter: blur(10px);
      background: rgb(158, 2, 18);
      color: azure;
    "
    role="alert"
  >
    <h5 class="fw-bold mb-2">⚠ Attention Required</h5>
    <p class="mb-0">Something went wrong. Please check the details.</p>
  </div>
</div>
