<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-linkedin"></i>
    </div>
    <div class="fa-brand">&copy; WanderRooms Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">privacy-polices </a>
      <br />
      <a href="/terms">terms & Conditions</a>
    </div>
  </div>
</footer>
