<nav class="navbar navbar-expand-lg sticky-top custom-navbar" id="mainNavbar">
  <div class="container container-navbar">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass brand-icon"></i>
      <span class="brand-text">WonderRooms</span>
    </a>

    <!-- Mobile Toggler -->
    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars fs-4"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <form class="search-form mx-auto" role="search" action="/listings" method="GET">
        <div class="search-input-wrapper">
          <input
            class="form-control input-search"
            type="search"
            name="q"
            placeholder="Search rooms, cabins, apartments..."
            aria-label="Search"
            autocomplete="off"
          />
          <button class="btn-search-icon" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>

      <div class="navbar-nav auth-nav align-items-center">
        <a class="nav-link add-room-btn d-none d-lg-block" href="/listings/new">
          Add Your Room
        </a>

        <% if(!locals.currUser) { %>
          <a class="nav-link fw-bold text-dark px-3" href="/signup">Sign Up</a>
          <a class="nav-link login-btn" href="/login">Log In</a>
        <% } else { %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-circle-user fs-4"></i>
              <span class="d-none d-sm-inline"><%= locals.currUser.username %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg p-2" aria-labelledby="userDropdown">
              <li><a class="dropdown-item rounded-2" href="/listings">All Listings</a></li>
              <li><a class="dropdown-item rounded-2" href="/listings/new">New Listing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item rounded-2 text-danger" href="/logout">Log Out</a></li>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
